﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id ="container">
    <p><br /><br /><br /><br />
        <h3>@Resources.Language.CommonAppError</h3>
        <h3>@ViewBag.DetailError</h3>
    </p>
</div>

