﻿@using MVC.Test.Web.Models.ResponseModels
@model MVC.Test.Web.Models.ResponseModels.InvoiceModel
<div style="margin-top:50px">
    @Html.ActionLink(Resources.Language.Back, "Index", "Invoice", new { @class = "elements" }, null)
</div>

 <br /><br />
<h2>@Resources.Language.MyReceipts </h2>
@using (Html.BeginForm("_MyInvoices", "Invoice", FormMethod.Post))
{
<table>
    <tr>
        <td>
                @Resources.Language.SearchID: @Html.TextBox("SearchString", "", new { @id="searchBox"})
             
        </td>
    <td>@Resources.Language.SearchDate: @Html.TextBox("SearchDate", "", new { @id = "searchDateBox", @placeholder="d.m.yyyy"})</td>
    </tr>
</table>
}

<table id="InvoiceData" class="table table-bordered table-responsive table-hover">
   
</table>

<a href="javascript:void(0)" id="LoadMoreBtn">@Resources.Language.LoadMore</a>
<script>

    var page = 1;

    $(document).ready(function () {
        LoadMoreAndAppend();
    });

    $("#LoadMoreBtn").click(function () {
        LoadMoreAndAppend();
    });

    function LoadMoreAndAppend() {

        $.get('@Url.Action("GetInvoiceData", "Invoice")' + '?page=' + page.toString(),
            function (result) {

                if (!$.trim(result)) {
                    $("#LoadMoreBtn").hide();
                } else {
                    $("#InvoiceData").append(result);
                    page++;
                    console.log("LoadMoreAndAppend", result);
                }
            });
    };

    $('#searchBox').keyup(function () {
        if ($('#searchBox')[0].value == "") {
            $("#LoadMoreBtn").show();
        }
        else {
            $.get('@Url.Action("FilterInvoiceData", "Invoice")' + '?query=' + $('#searchBox')[0].value,
                    function (result) {
                        $('#InvoiceData').html(result);
                        $("#LoadMoreBtn").hide();
                        console.log("FilterInvoiceData", result);
                    });
        }
    });

    $('#searchDateBox').change(function () {
        if ($('#searchDateBox')[0].value == "") {
            $("#LoadMoreBtn").show();
        }
        else {
            $.get('@Url.Action("FilterInvoiceDataByDate", "Invoice")' + '?queryDate=' + $('#searchDateBox')[0].value,
                    function (result) {
                        $('#InvoiceData').html(result);
                        $("#LoadMoreBtn").hide();
                        console.log("FilterInvoiceDataByDate", result);
                    });
        }
    });

</script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

<style>
    .search-box-container input {
        padding: 5px 20px 5px 5px;
    }
    th, td {
    width:220px; 
}
    .search-box-container:after {
        content: "\f002";
        font-family: FontAwesome;
        margin-left: -25px;
        margin-right: 25px;
    }
</style>


