﻿@model MVC.Test.Web.Models.NewInvoiceModel
@using System.Linq

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<div style="margin-top:50px">
    @Html.ActionLink(Resources.Language.Back, "Index", "Invoice", new { @class = "elements" }, null) <br />
</div>
    @using (Html.BeginForm("_NewInvoice", "Invoice", FormMethod.Post))
    {
<h1>@Resources.Language.CommonNewInvoice</h1><br />

@*@Html.DropDownList("list",(IEnumerable<SelectListItem>)ViewBag.Centri)*@
<select id="combobox">@for (int i = 0; i < ViewBag.Centri.Count; i++)
{<option value=@ViewBag.Centri[i].Value.ToString()> @ViewBag.Centri[i].Text </option> }</select>


        <table>
            <tr>
                <td>
                    <div>
                        @Html.LabelFor(model => model.InvoiceType):
                    </div>
                </td>
                <td>
                    <div class="form-group">

                        @{
                            List<SelectListItem> listItems = new List<SelectListItem>();
                            listItems.Add(new SelectListItem
                            {
                                Text = Resources.Language.TypeReceipt,
                                Value = "BER receipt"

                            });
                            listItems.Add(new SelectListItem
                            {
                                Text = Resources.Language.TypeWarrent,
                                Value = "Travel warrent"

                            });
                            listItems.Add(new SelectListItem
                            {
                                Text = Resources.Language.TypeEnt,
                                Value = "Entertainment expenses and minor buisness expenses"

                            });
                            listItems.Add(new SelectListItem
                            {
                                Text = Resources.Language.TypeCarExp,
                                Value = "Car expenses"

                            });
                            listItems.Add(new SelectListItem
                            {
                                Text = Resources.Language.TypeTravel,
                                Value = "Travel expenses"

                            });
                            listItems.Add(new SelectListItem
                            {
                                Text = Resources.Language.TypeProd,
                                Value = "Expenses for procurement of goods and sevices"

                            });
                            listItems.Add(new SelectListItem
                            {
                                Text = Resources.Language.TypeOther,
                                Value = "Other"

                            });

                        }

                        @Html.DropDownListFor(model => model.InvoiceType, listItems, " -- Select Status -- ")

                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        @Html.LabelFor(model => model.PaymentType):
                    </div>
                </td>
                <td>
                    <div class="form-group">

                        @{
                            List<SelectListItem> listItems2 = new List<SelectListItem>();
                            listItems2.Add(new SelectListItem
                            {
                                Text = Resources.Language.PaymentCash,
                                Value = Resources.Language.PaymentCash,


                            });
                            listItems2.Add(new SelectListItem
                            {
                                Text = Resources.Language.PaymentCard,
                                Value = Resources.Language.PaymentCard

                            });

                        }

                        @Html.DropDownListFor(model => model.PaymentType, listItems2, " -- Select Status -- ")
                       
                    </div>
                </td>
            </tr>
            <tr><td>Comments:</td><td>@Html.TextAreaFor(model => model.Comment, new { placeholder = "Unesite popis ugošćenih ukoliko ih ima." })</td></tr>
        </table>

        <div>
            <br />
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })<br />
            <input type="submit" value="Submit" style="width:110px"/>
        </div>


}

    @*<table><tr><td>Remarks</td>
        <td><input type="text" /></td></tr></table>

        <div>
            @using (Html.BeginForm("Upload", "Upload", FormMethod.Post,
                                              new { enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(true)
            <fieldset>
                Select a file <input type="file" name="file" />
                <input type="submit" value="Upload" />
            </fieldset>
        }>*@
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    let dropdown = $('#locality-dropdown');

    dropdown.empty();

    dropdown.append('<option selected="true" disabled>Choose State/Province</option>');
    dropdown.prop('selectedIndex', 0);

    const url = 'http://mpsi.celebesit.hr/mobile/api/invoice/costcenter';

    // Populate dropdown with list of provinces
    $.getJSON(url, function (data) {
        $.each(data, function (key, entry) {
            dropdown.append($('<option></option>').attr('value', entry.data.costCenterId).text(entry.data.costCenterName));
        })
    });

</script>

<style>
   
  .custom-combobox {
    position: relative;
    display: inline-block;
  }
  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
  }
  .custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
  }

    textarea {
    width:300px;
    height:150px;
    }
</style>





