﻿@model MVC.Test.Web.Models.ResponseModels.InvoiceModel

@{
    Layout = null;
}

   @foreach(var data in Model.Podaci)
        {
            <tr>
                <td>@Html.ActionLink(data.InvoiceId.ToString(), "InvoiceDetails", new { @id = data.InvoiceId })</td>
                <td>@data.CreatedDate.Date.ToShortDateString() @data.CreatedDate.TimeOfDay</td>
            </tr>
        }

<script> // da mogu kliknit na broj računa i da otvori view za ti račun detalje
   
    $("#InvoiceData td").click(function() {
        var celltext = $(this).text();

    });

</script>