﻿@{
    Layout = null;
}

@model IEnumerable<MVC.Test.Web.Models.ResponseModels.Podaci>


   @foreach(var data in Model)
        {
            <tr>
                <td>@Html.ActionLink(data.InvoiceId.ToString(), "InvoiceDetails", new { @id = data.InvoiceId })</td>
                <td>@data.CreatedDate.Date.ToShortDateString() @data.CreatedDate.TimeOfDay</td>
            </tr>
        }


<script> // da mogu kliknit na broj računa i da otvori view za ti račun detalje
   
    $("#InvoiceData td").click(function() {
        var celltext = $(this).text();

    });

</script>

<style>
    .search-box-container input {
  padding: 5px 20px 5px 5px;
}

.search-box-container:after {
    content: "\f002";
    font-family: FontAwesome;
    margin-left: -25px;
    margin-right: 25px;
}
</style>