﻿@model MVC.Test.Web.Models.ResponseModels.InvoiceModel
@Scripts.Render("~/bundles/jqueryunobtrusive")
@Scripts.Render("~/bundles/jqueryval")
 
@using System.Collections.Generic

    <h1 style="align-content:center;margin-top:50px" id="menu"> Menu</h1><br />
    <table><tr><td style="width:50px;"><input type="button" id="btn1" value="@Resources.Language.CommonNewInvoice" onclick="parcijalni('newInvoice')" /></td>
        <td style="width:50px;"><input type="button" id="btn2" value="@Resources.Language.History" onclick="parcijalni('myInvoices')" /></td></tr>
    </table>
    
    <div id="newInvoice">
        @Html.Partial("_NewInvoice", Model.NewInvoiceModel)
    </div>

    <div id="myInvoices">
        @Html.Partial("_MyInvoices", Model)
    </div>


@section Scripts { 
    
    <script type="text/javascript">
        function sakrij() {
            document.getElementById("myInvoices").style.display="none";
            document.getElementById("newInvoice").style.display = "none";
        }
        function parcijalni(oznaka) {
            sakrij();
            document.getElementById("menu").style.display = "none";
            document.getElementById('btn1').style.display = "none";
            document.getElementById('btn2').style.display = "none";
            document.getElementById(oznaka).style="display:block";
            
        }
        sakrij();
        
    
    </script>
    }

