﻿@model IEnumerable<MVC.Test.Web.Models.InvoiceModel>

@{
    ViewBag.Title = Resources.Language.CommonNewInvoice;
    Layout = "~/Views/Shared/_Layout.cshtml";
} 

<div style="display:block">
    @Html.Partial("_NewInvoice", Model.FirstOrDefault().NewInvoiceModel)
</div>

<div id="myInvoices" style="display:none">
@Html.Partial("_MyInvoices",Model)

</div>

