﻿@model MVC.Test.Web.Models.ResponseModels.InvoiceModel
@{
    ViewBag.Title = "Submission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2></h2>
<p></p>
@{ string poruka = "";}
@if (Model.Podaci[0].InvoiceType == "Travel warrent")
{
    poruka = "Please write id down on your travel warrent.";
}

<div  style="margin-top:50px">
    You have successfully uploaded new invoice.<br /><br />
    Document data:<br />
    <b>Document ID:</b>  @Model.Podaci[0].InvoiceId. @poruka<br />
    <b>Type of invoice:</b> @Model.Podaci[0].InvoiceType<br />
    <b>Type of payment:</b> @Model.Podaci[0].PaymentType <br />
    <b>Time:</b> @Model.Podaci[0].CreatedDate.TimeOfDay <br />
    <b>Cost center name:</b> @Model.Podaci[0].CostCenterData.CostCenterName
</div><br />

@Html.ActionLink(Resources.Language.Back, "Index", "Invoice", new { @class = "elements" }, null)