﻿<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="navbar fixed-top navbar-dark bg-primary">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink(Resources.Language.CommonApplicationName, "Index", "Invoice", new { area = "" }, new { @class = "navbar-brand" }) 
            </div>
    
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            </ul>
        </div>
    </div>

        <div class="navbar-data" style="color:white;text-align:right" >@DateTime.Now.ToShortDateString()<br />
        @Session["ime"] @Session["prezime"] @Html.ActionLink("Logout","LogOut","Authentication", new { @class="link"})</div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <div id="statusPanel" class="alert alert-dismissible" style="display: none; padding-left: 0rem">
                <span class="alert alert-dismissible alert-danger" id="statusMessageWarning"></span>
            </div>
            <div class="footer .footer">
            </div>
        </div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)

<style>
    .link {
    color:white;
    font-style:italic;
    }
   .link:hover {
       color:white;
       font-weight:bold;
        }
</style>
</body>
</html>
