﻿<script>
    $(document).ready(function () {
        alert('Uspješna prijava!');
        console.log('@ViewBag.Message');
    });
</script>

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

