﻿@model MVC.Test.Web.Models.LoginModel



@using (Html.BeginForm("Login", "Authentication", FormMethod.Post))  
{  
    <fieldset class=".fieldset">  
        <legend></legend>  
  
        @Html.AntiForgeryToken()  
        @Html.ValidationSummary(true)  
        @if (@ViewBag.Message != null)  
        {  
            <div style="border: 1px solid red">  
                @ViewBag.Message  
            </div>  
        } 
        
        <div class="form-group row align-items-center" style="margin-top: 50px;">
            <div class="col-md-4 col-md-offset-4">
                <h2>@Resources.Language.Login</h2>
                <section style="margin-top: 20px;">
                    <fieldset>
                        
                        <div >
                            @Html.LabelFor(model => model.UserName)
                        </div>
                        <div class="form-group">

                            @Html.TextBoxFor(model => model.UserName, new {@class = "form-control"})
                        </div>
                        <div >
                            @Html.LabelFor(model => model.Password)
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(model => model.Password, new {@class = "form-control"})
                        </div>

                        <input type="submit" class="btn btn-primary btn-lg" value=@Resources.Language.Login />
                    </fieldset>
                </section>
            </div>
            <div class="col-md-3">
                <img src="..\..\Content\Images\Mercury-processing-services-international.jpg"/>
            </div>
        </div>

</fieldset>  

    <script>
    $(document).ready(function () {
        var error = "@Html.Raw(Model.Error)";
        var errorDescriptiuon = "@Html.Raw(Model.ErrorDescription)";
        var statusPanel = $("#statusPanel");
        var statusMessageWarning = $("#statusMessageWarning");
        var statusMessageSuccess = $("#statusMessageSuccess");

        if (error.length > 0) {
            $("#statusPanel #statusMessageWarning").text("Error: " + error + " - " + errorDescriptiuon);
            statusPanel.show();
            statusMessageSuccess.hide();
            statusMessageWarning.show();


        } else {
            $("#statusPanel #statusMessageWarning");
            statusPanel.hide();

        }
    });
    </script>
} 